body {
    background-color: #3F8462;
    margin-top: 100px;
}

.submitButton {
    background-color: #1E4856;
    border-color: #1E4856;
}

#addQuizDiv {
    display : none;
}

#addTeamDiv {
    display : none;
}

.gameDiv {
    background-color: #45A3CC;
    margin-top: 10px;
}

.question {
    background-color: #60E0D1;

}

.answerButton {
    background-color: #94C9E8;

}

ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

li a:hover {
    text-decoration: none;
    color: green;
}


.absolute {
    position:absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.active {
    background-color: #4CAF50;
}


