body {
    background-color: #3F8462;
    margin-top: 100px;
}

.submitButton {
    background-color: #1E4856;
    border-color: #1E4856;
}

#addQuizDiv {
    display : none;
}

#addTeamDiv {
    display : none;
}

.gameDiv {
    background-color: #45A3CC;
    margin-top: 10px;
}

.question {
    background-color: #60E0D1;

}

.answerButton {
    background-color: #94C9E8;

}



